* {
    margin: 0;
    padding: 0;
    overflow: hidden;

}

header {
    animation: change 70s linear infinite;
    position: absolute;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%; 
    
    }
@keyframes change {
    0%{background:linear-gradient(
        rgba(20,20,20, .5), 
        rgba(20,20,20, .5)), url(Animate1.png)}
    25%{background:linear-gradient(
        rgba(20,20,20, .5), 
        rgba(20,20,20, .5)), url(Animate2.png)}
    50%{background: linear-gradient(
        rgba(20,20,20, .5), 
        rgba(20,20,20, .5)), url(Animate3.png)}
    75%{background: linear-gradient(
        rgba(20,20,20, .5), 
        rgba(20,20,20, .5)), url(Animate4.png)}
    100%{background: linear-gradient(
        rgba(20,20,20, .5), 
        rgba(20,20,20, .5)), url(Animate5.png)}

}

#WelcomePage{
    text-align: center;
    font-size: 42px;
    color: #FFFFFF;
    position: relative;
    top: 120px;

}
#Welcome {
    text-align: center;
    font-size: 60px;
    color: #FFFFFF;
    font-style: italic;
    text-shadow: 4px 5px rgb(0, 0, 0);
    position: fixed;
    top: 0;
    margin: 0 auto;
    background-color: rgb(3, 44, 49);
    height: 75px;
    width: 100%;
    position: fixed;
   
}
.webpagebuttonNavigation {
    position: relative;
    margin-top: 30px;
    margin-left: 325px;
    
}
.profilebuttonNavigation {
    position: relative;
    margin-top: 465px;
    margin-left: 325px;
    
}

.Buttons {
    list-style: none;   
    background: rgba(99, 99, 99, 0.73);
    border-radius: 50px;
    text-align: center;
    width: 710px;
    height: 65px;
    
}

.buttonlist {
    display: inline-block;
    
}
.buttonsdesign {
    padding: 15px 30px;
    color:black;
    text-decoration: none;
    font-size: 30px;
    display: block;
    transition: background-color 0.3s ease;    
}
.buttonsdesign:hover:not(#active){
    background-color: rgba(207, 206, 209, 0.68);
    
}
#active{
    background-color: rgba(207, 206, 209, 0.68);
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.32);
    height: 55px;
    width: 100%;
 
}
.footerwords {
    text-align: center;
    text-decoration: none;
    color: #000000;
    font-size: 15px;
    display: block;
    font-family: Verdana, Geneva, Tahoma, serif;

}
 #profileright {
    margin: 0 auto;
    height: 50%;
    width: 60%;
    position: relative;
    right: 50px;
    text-align: center;
    background: url(Animate6.png);
    float: right;
    border: 20px solid rgba(99, 89, 89, 0.69);
    margin-top: 100px;
 }
 .profilerightheadercontainer{
     padding: 15px;
     background-color: rgb(21, 138, 180);
     margin: 0 auto;
     position: relative;
     color: #000000;
     font-size: 30px;
     border: 5px solid rgba(21, 130, 134, 0.71);
     
 }
 .profilerightcontent {
    
    text-align: left;
    color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, serif;
    border: 2px solid rgb(133, 117, 124);
    
}
.profilerightcontentcolor{
    color:#3CFF00;

}
a {
    text-decoration: none;
}
.profileleftbutton1 {
    float: left;
    background-color: rgb(76, 173, 175);
    height: 65px;
    width: 300px;
    text-align: center;
    font-size: 25px;
    
}
.profileleftbutton2 {
    float: left;
    margin-top: 2px;
    background-color: #4CACAF;
    height: 65px;
    width: 300px;
    text-align: center;
    font-size: 25px;
    
}
.profileleftbutton3 {
    float: left;
    margin-top: 2px;
    background-color: #4CACAF;
    height: 65px;
    width: 300px;
    text-align: center;
    font-size: 25px;
    
}
.profileleftbutton4 {
    float: left;
    margin-top: 2px;
    background-color: #4CACAF;
    height: 65px;
    width: 300px;
    text-align: center;
    font-size: 25px;
    
}
.profileleftbutton5 {
    float: left;
    margin-top: 2px;
    background-color: #4CACAF;
    height: 65px;
    width: 300px;
    text-align: center;
    font-size: 25px;
    
}
.profileleftbutton6 {
    float: left;
    margin-top: 2px;
    background-color: #4CACAF;
    height: 65px;
    width: 300px;
    text-align: center;
    font-size: 25px;
    
}
.profileleftbutton1:hover {
    border: 2px solid #66FF00;
 
}
.profileleftbutton2:hover {
    border: 2px solid #66FF00;
 
}
.profileleftbutton3:hover {
    border: 2px solid #66FF00;
 
}
.profileleftbutton4:hover {
    border: 2px solid #66FF00;
 
}
.profileleftbutton5:hover {
    border: 2px solid #66FF00;
 
}
#action {
    color:#00FF15;
}
.profileleftcontainer {
    float: left;
    position: relative;
    height: 500px;
    width: 300px;
    margin-top: 100px;
    margin-left: 70px;
    
}

#AllInfo {
    background-color: rgba(223, 223, 223, 0.9);
    color:rgba(0, 0, 0, 0.9);
    margin: 0 auto;
    float: center;
    position: relative;
    border-radius: 5px;
    height: 55%;
    width: 80%;
    border: 10px solid rgba(64, 67, 71, 0.87);
    margin-top: 100px;
       
}
.AllInfoinside {
    padding: 15px;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.9);
    margin: 0 auto;
    position: relative;
    border: 2px solid rgba(255, 255, 255, 0.9);
    text-align: center;
    font-size: 40px;
    
}
.imagecircle {
    border-radius: 50%;
    width: 300px;
    height: 250px;
    margin-left: 38%;
    margin-top: 10%;
}
.ContactInfointro {
    color: black;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, serif;
    text-align: center;
}
.contactdetails {
    text-align: left;
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, serif;
    border: 2px solid rgb(133, 117, 124);
}
.contactcontentcolor {
    color: #FF0000;
}
.contactFBIcons {
    margin-left: 37%;
    height: 40px;
    width: 40px;
    
}
.contactTWIIcons {
    margin-left: 35px;
    height: 40px;
    width: 40px;
    
}
.contactINSTAIcons {
    margin-left: 35px;
    height: 40px;
    width: 40px;
    
}
.contactYTIcons {
    margin-left: 35px;
    height: 40px;
    width: 40px;
    
} 
.aboutimage {
    float: left;
    width: 25%;
    height: 80%;
}
.aboutcontent {
    margin-left: 30%;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-indent: 50px;
    margin-right: 5px;

}
.skillsinfohead {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.skillsinfo1 {
   color:#FFFFFF;
   text-align: center;
}
.skills1 {
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.skills2 {
    color:#000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.skillsinfo2 {
    color:#000000;
    text-align: center;
 }
.skillsinfotableleft {
    background: rgba(0, 0, 0, 0.79);
    height: 71%;
    width: 50%;
    float: left;
    

}
.skillsinforight {
    background: rgba(255, 255, 255, 0.79);
    height: 71%;
    width: 50%;
    float: left;

}
.hobby {
    text-align: center;
    font-size: 20px;

}
.hobbycontainer {
    background: #FFFFFF ;
    height: 63%;
    width:100% ;
    margin-top: 10px;

}
.hobbyinfo {
    font-size: 15px;
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.Photos {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 65%;
    height: 50%;
    float: right;
    position: relative;
    margin-top: 9%;
    margin-right: 50px;
}
.image:hover {
    border: 2px solid #00CCFF;
}

.image {
    height: 100px;
    width: 100px;
}
 
 
