* {
    margin: 0;
    padding: 0;
    overflow: hidden;

}

header {
    position: absolute;
    width: 100%;
    background: url(backg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%; 
    }

#WelcomePage{
    text-align: center;
    font-size: 42px;
    color: #000000;
}
#Welcome {
    text-align: center;
    font-size: 60px;
    color: #FFFFFF;
    font-style: italic;
    text-shadow: 4px 5px rgb(0, 0, 0);
}
#buttonNavigation {
    padding: 28% 24%;
    float: left;
}
.Buttons {
    list-style: none;   
    background: rgba(121, 118, 118, 0.73);
    border-radius: 50px;
    text-align: center;
    width: 710px;
    height: 65px;
    position: fixed;
    
}

.buttonlist {
    display: inline-block;
    
}

.buttonsdesign {
    padding: 16px 30px;
    color:black;
    text-decoration: none;
    font-size: 30px;
    display: block;
    transition: background-color 0.3s ease;
      
}

.buttonsdesign:hover, .buttonsdesign:focus {
    background-color: rgba(207, 206, 209, 0.68);
    outline: none;
}

#footer {
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.73);
    height: 55px;
    width: 100%;
   
}
.footerwords {
    text-align: center;
    text-decoration: none;
    color: #000000;
    font-size: 15px;
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
 #profileright {
    margin: 0 auto;
    height: 73%;
    width: 60%;
    position: relative;
    right: 50px;
    text-align: center;
    background: url(profileback.png);
    float: right;
 }
 .profileheadercontainer{
     padding: 15px;
     background-color: rgb(49, 45, 45);
     margin: 0 auto;
     position: relative;
     color: white;
     font-size: 30px;
 }
 .profilecontent {
    text-align: center;
    color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
 
